version: 2.1
jobs:
    build:
        docker:
            - image: circleci/node:latest
        steps:
            - checkout

            - restore_cache:
                  name: Restore Yarn Package Cache
                  keys:
                      - yarn-packages-{{ checksum "yarn.lock" }}
            - run:
                  name: Install Dependencies
                  command: yarn install --frozen-lockfile
            - save_cache:
                  name: Save Yarn Package Cache
                  key: yarn-packages-{{ checksum "yarn.lock" }}
                  paths:
                      - ~/.cache/yarn

            - run:
                  name: build
                  command: yarn build
            - run:
                  name: test
                  command: yarn test
            - run:
                  name: coverage
                  command: yarn coverage
            - run:
                  name: test
                  command: yarn test
