version: 2.1

executors:
  my-executor:
    docker:
      - image: cimg/node:14.18.1
        environment:
          CI: true

orbs:
  node: circleci/node@4.7.0

jobs:
  # mobx-state-tree build
  build:
    executor: my-executor
    steps:
      - checkout

      - run:
          name: Install the latest version of bun
          command: curl -fsSL https://bun.sh/install | bash
      - run:
          name: Link bun
          command: sudo ln -s ~/.bun/bin/bun /usr/local/bin/
      - run:
        name: Install dependencies
        command: bun install
      - run:
          name: Build MST
          command: bun run build

      - persist_to_workspace:
          root: .
          paths:
            - ./*

  # mobx-state-tree tests
  test-mst-dev:
    executor: my-executor
    steps:
      - attach_workspace:
          at: .

      - run: bun run test:dev -i --coverage
      - store_test_results:
          path: ./test-results

      - persist_to_workspace:
          root: .
          paths:
            - ./coverage/*

  test-mst-prod:
    executor: my-executor
    steps:
      - attach_workspace:
          at: .

      - run: run run test:prod -i
      - store_test_results:
          path: ./test-results

  test-size:
    executor: my-executor
    steps:
      - attach_workspace:
          at: .

      - run: bun run size

  # upload coverage
  upload-codecov:
    executor: my-executor
    steps:
      - attach_workspace:
          at: .
      # only run codecov if the token is present (it is not present for fork PRs for security reasons)
      - run:
          name: upload codecov
          command: |
            if [[ -v CODECOV_TOKEN ]]
            then
                ./node_modules/.bin/codecov
            else
                echo "Warning - Codecov info could NOT be uploaded since the CODECOV_TOKEN was not available"
            fi

workflows:
  version: 2
  build-and-test:
    jobs:
      - build

      - test-mst-dev:
          requires:
            - build
      - test-mst-prod:
          requires:
            - build
      - test-size:
          requires:
            - build

      - upload-codecov:
          requires:
            - test-mst-dev
