version: 2.1
jobs:
    build:
        docker:
            - image: circleci/node:latest
        working_directory: ~/mobx-state-tree
        steps:
            - checkout

            - restore_cache:
                  name: restore .cache/yarn
                  keys:
                      - yarn-cache-{{ arch }}
            - restore_cache:
                  name: restore node_modules
                  keys:
                      - node-modules-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
                      - node-modules-{{ arch }}-{{ .Branch }}
                      - node-modules-{{ arch }}

            - run: yarn install --frozen-lockfile --cache-folder ~/.cache/yarn

            - save_cache:
                  name: cache .cache/yarn
                  key: yarn-cache-{{ arch }}
                  paths:
                      - ~/.cache/yarn
            - save_cache:
                  name: cache node_modules
                  key: node-modules-{{ arch }}-{{ .Branch }}-{{ checksum "yarn.lock" }}
                  paths:
                      - node_modules

            - run: yarn build
            - run: yarn test

            - store_test_results:
                  path: ./test-results

            # only run coveralls if the token is present (it is not present for fork PRs for security reasons)
            - run:
                  name: upload coveralls
                  command: |
                      if [[ -v COVERALLS_REPO_TOKEN ]]
                      then                            
                          cat ./packages/mobx-state-tree/coverage/lcov.info ./packages/mst-middlewares/coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
                          echo "Coveralls info uploaded"
                      else
                          echo "Warning - Coveralls info could NOT be uploaded since the COVERALLS_REPO_TOKEN was not available"
                      fi
