version: 2.1

executors:
    my-executor:
        docker:
            - image: circleci/node:12
              environment:
                  CI: true

orbs:
    node: circleci/node@4.0.1

jobs:
    # mobx-state-tree and mst-middlewares build
    build:
        executor: my-executor
        steps:
            - checkout

            - node/install-packages:
                pkg-manager: yarn

            - run: yarn build

            - persist_to_workspace:
                  root: .
                  paths:
                      - ./*

    # mobx-state-tree tests
    test-mst-dev:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn test:mst:dev -i --coverage
            - store_test_results:
                  path: ./test-results

            - persist_to_workspace:
                  root: .
                  paths:
                      - packages/mobx-state-tree/coverage/*

    test-mst-prod:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn test:mst:prod -i
            - store_test_results:
                  path: ./test-results

    test-mst-others:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn test:mst:others
            - store_test_results:
                  path: ./test-results

    # mst-middlewares tests
    test-mst-middlewares-dev:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn test:mst-middlewares:dev -i --coverage
            - store_test_results:
                  path: ./test-results

            - persist_to_workspace:
                  root: .
                  paths:
                      - packages/mst-middlewares/coverage/*

    test-mst-middlewares-prod:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn test:mst-middlewares:prod -i
            - store_test_results:
                  path: ./test-results

    test-size:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            - run: yarn size

    # upload coverage
    upload-coveralls:
        executor: my-executor
        steps:
            - attach_workspace:
                  at: .

            # only run coveralls if the token is present (it is not present for fork PRs for security reasons)
            - run:
                  name: upload coveralls
                  command: |
                      if [[ -v COVERALLS_REPO_TOKEN ]]
                      then
                          cat ./packages/mobx-state-tree/coverage/lcov.info ./packages/mst-middlewares/coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
                          echo "Coveralls info uploaded"
                      else
                          echo "Warning - Coveralls info could NOT be uploaded since the COVERALLS_REPO_TOKEN was not available"
                      fi

workflows:
    version: 2
    build-and-test:
        jobs:
            - build

            - test-mst-dev:
                  requires:
                      - build
            - test-mst-prod:
                  requires:
                      - build
            - test-mst-others:
                  requires:
                      - build

            - test-mst-middlewares-dev:
                  requires:
                      - build
            - test-mst-middlewares-prod:
                  requires:
                      - build

            - test-size:
                  requires:
                      - build

            - upload-coveralls:
                  requires:
                      - test-mst-dev
                      - test-mst-middlewares-dev
