.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-menu {
  background-color: orangered;
  height: 20px;
  font-weight: bold;
  margin: 0;
  padding: 8px;
}

.App-menu > li {
  display: inline-block;
  padding: 0px 10px;
}

.App-menu > li > a, .App-menu > li > a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App > section {
  max-width: 800px;
  margin: auto;
  text-align: left;
  padding: 0 20px 0 20px;
}

a, a:visited {
  color: orangered;
  cursor: pointer;
}

button {
  border: 1px solid orangered;
  background-color: white;
  color: orangered;
  float: right;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  padding: 8px 8px;
}

button:disabled {
  background-color: lightgrey;
  color: darkgrey;
  border: none;
  cursor: default;
}

button:hover {
  border-width: 2px;
  position: relative;
  top: -1px;
  right: -1px;
}